<div>
 <table width="80%" align="center">
  <tr>
    <td width="30%" align="right"><img src="images/logo.png"></td>
    <td align="center"><input type="text" ng-model="$ctrl.search_info" style="width:400px;height:30px">&nbsp;<button ng-click="$ctrl.searchgo()" class="btn-info btn-lg"><span class="glyphicon glyphicon-search"> Search</button></span></td>
  </table>
  <br>
  <table width="80%" style="color:white;font-family:Times New Roman;background:orange;" align="center">
    <tr height="30px">
      <td><font size="6">&nbsp;&nbsp;</font></td>
      <td><font size="6"><a href="\home">Home</a></font></td>
      <td><font size="6"><a href="\cityguide">City Guide</a></font></td>
      <td><font size="6"><a href="\notfinish">Scenic Spot</a></font></td>
      <td><font size="6"><a href="\food">Food</font></td>
      <td><font size="6"><a href="\notfinish">Hotel</font></a></td>
      <td><font size="6"><a href="\notfinish">Shopping</font></a></td>
    </tr>
    </table>
<br>
<br>
  <table width="80%" align="center" style="border: 2px solid #DCDCDC;">
    <tr align="center">
      <td><font size="4">Hot type |</font></td>
      <td>Food</td>
      <td>Amusement</td>
      <td>Life service</td>
      <td>Shopping</td>
      <td>Fashion</td>
      <td>Scene</td>
      <td>Hotel</td>
      <td>Transport</td>
    </tr>
    <tr align="center">
      <td><font size="4">Location |</font></td>
      <td>Chinatown</td>
      <td>Sentosa</td>
      <td>Vivo city</td>
      <td>Merlion Park</td>
      <td>Singapore Changi Airport</td>
      <td>Clarke Quay</td>
      <td>Little India</td>
      <td>Geylang</td>
    </tr>
    <tr align="center">
      <td><font size="4">Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</font></td>
      <td colspan="4"><img src="images/free.png"></td>
      <td colspan="4"><img src="images/discount.png"></td>
    </tr>
  </table>
  <font size="6" style="margin-left: 10%">Hot discount:</font>
  <table width="80%" align="center" style="border: 2px solid #DCDCDC;">
    <tr align="center">
      <td><img src="images/sea.jpg"></td>
      <td><img src="images/us.jpg"></td>
      <td><img src="images/zoo.jpg"></td>
      <td><img src="images/jinsha.jpg"></td>
    </tr>
    <tr align="center">
      <td>name:Sea Museum<br>10% discount<br><button>Get it!</button></td>
      <td>name:University Studio<br>$68 for one person<br><button>Buy now!</button></td>
      <td>name:Zoo<br>$30 for one person<br><button>Buy now!</button></td>
      <td>name:JinSha no-border pool<br>The ticket to swimming pool<br>price:$30<br><button>Buy now!</button></td>
    </tr>
    <tr align="center">
      <td><img src="images/linzhiyuan.jpg"></td>
      <td><img src="images/yakuntusi.jpg"></td>
      <td><img src="images/haixian.jpg"></td>
      <td><img src="images/hainanji.jpg"></td>
    </tr>
    <tr align="center">
      <td>price:$2<br>Buy $10 get $3 reduction<br><button>Buy now!</button></td>
      <td>price:$1<br>Buy $6 get $2 reduction<br><button>Buy now!</button></td>
      <td>price:for free<br>Buy $80 get $5 reduction<br><button>Get it!</button></td>
      <td>price:$0.5<br>Buy $6 get $1 reduction<br><button>Buy now!</button></td>
    </tr>
    <tr align="right">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="">more information</a></td>
    </tr>
  </table>