<style type="text/css">
	#filterby_{
		border: 0px;
		font-size: 20px;
		background-color: rgba(0,0,0,0);
	}
	#one_one_{
		border: 0px;
		background-color: rgba(0,0,0,0);
	}
	#one_two_{
		border: 0px;
		background-color: rgba(0,0,0,0);
	}
</style>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  	<div class="btn-group" id="one_one_" role="group">
			 <div id="one_two_" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			 	<p id="filterby_">FILTER BY:</p>
			 </div>
    </div>
  	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    CATALOGUE<span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Catalogue</a></li>
				   <li><a href="#">Color</a></li>
				   <li><a href="#">Size</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
  	</div>
    	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    COLOR <span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Action</a></li>
				   <li><a href="#">Another action</a></li>
				   <li><a href="#">Something else here</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
        </div>
    	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SIZE <span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Action</a></li>
				   <li><a href="#">Another action</a></li>
				   <li><a href="#">Something else here</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
  		</div>
    	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SPECIAL <span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Action</a></li>
				   <li><a href="#">Another action</a></li>
				   <li><a href="#">Something else here</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
  </div>

</div>

<div class="cards cards-condensed"> 
		  <div class="col-md-4 col-sm-6 col-lg-3">
		    <a class="card" href="/productDetails">
		      <img src="/images/clothing5.jpg" alt="">
		      <div class="caption">lalalalala</div>
		      <div class="card-heading"><strong>beautiful girl</strong></div>
		      <div class="card-content text-muted">you are too foolish</div>
		       <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
		    </a>
		  </div>
		<div class="col-md-4 col-sm-6 col-lg-3">
		  <a class="card" href="/productDetails">
		    <img src="/images/clothing5.jpg" alt="">
		    <div class="caption">lalalalala</div>
		    <div class="card-heading"><strong>beautiful girl</strong></div>
		    <div class="card-content text-muted">you are too foolish</div>
		     <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
		  </a>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-3">
			    <a class="card" href="/productDetails">
			      <img src="/images/clothing5.jpg" alt="">
			      <div class="caption">lalalalala</div>
			      <div class="card-heading"><strong>beautiful girl</strong></div>
			      <div class="card-content text-muted">you are too foolish</div>
			       <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
			    </a>
			  </div>
			<div class="col-md-4 col-sm-6 col-lg-3">
			  <a class="card" href="/productDetails">
			    <img src="/images/clothing5.jpg" alt="">
			    <div class="caption">lalalalala</div>
			    <div class="card-heading"><strong>beautiful girl</strong></div>
			    <div class="card-content text-muted">you are too foolish</div>
			     <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
			  </a>
			</div>
</div>
<div class="cards cards-condensed"> 
		  <div class="col-md-4 col-sm-6 col-lg-3">
		    <a class="card" href="/productDetails">
		      <img src="/images/clothing5.jpg" alt="">
		      <div class="caption">lalalalala</div>
		      <div class="card-heading"><strong>beautiful girl</strong></div>
		      <div class="card-content text-muted">you are too foolish</div>
		       <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
		    </a>
		  </div>
		<div class="col-md-4 col-sm-6 col-lg-3">
		  <a class="card" href="/productDetails">
		    <img src="/images/clothing5.jpg" alt="">
		    <div class="caption">lalalalala</div>
		    <div class="card-heading"><strong>beautiful girl</strong></div>
		    <div class="card-content text-muted">you are too foolish</div>
		     <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
		  </a>
		</div>
		<div class="col-md-4 col-sm-6 col-lg-3">
			    <a class="card" href="/productDetails">
			      <img src="/images/clothing5.jpg" alt="">
			      <div class="caption">lalalalala</div>
			      <div class="card-heading"><strong>beautiful girl</strong></div>
			      <div class="card-content text-muted">you are too foolish</div>
			       <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
			    </a>
			  </div>
			<div class="col-md-4 col-sm-6 col-lg-3">
			  <a class="card" href="/productDetails">
			    <img src="/images/clothing5.jpg" alt="">
			    <div class="caption">lalalalala</div>
			    <div class="card-heading"><strong>beautiful girl</strong></div>
			    <div class="card-content text-muted">you are too foolish</div>
			     <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
			  </a>
			</div>
</div>

<style >

	#glass1,#glass2,#glass3,#glass4,#woman_glass1,#woman_glass2,#woman_glass3,#woman_glass4{
		background: hsla(0,0%,100%,.3);
		overflow: hidden;
	}
	#last{
		position: relative;
		top: 600px;
		left: 40%;
		color: white;
		font-size: 20px;
	}
	#home_man,#home_woman,#home_old{
		font-size: 30px;
		text-align: center;
		width: 100%;
		background: hsla(0,0%,100%,.3);
	}
</style>

<div id="accordion">
		 <p><a id="home_man" href="#collapseExample1" data-toggle="collapse" data-parent="#accordion" class="btn btn-link">man</a></p>
		  	<div class="collapse in" id="collapseExample1">
		      	<div class="bg-primary with-padding">
			        <div >
					<div class="row" >
						  <div  class="col-sm-6 col-md-3"  ng-mouseover="$ctrl.changeImage(1)">
						    <div id="glass1" class="thumbnail">
						      <img src="/images/clothing5.jpg" alt="...">
						      <div class="caption" align="center">
						        <p><a href="/woman"  class="btn btn-primary" role="button">Woman</a></p>
						      </div>
						    </div>
						  </div>


						  <div class="col-sm-6 col-md-3"  ng-mouseover="$ctrl.changeImage(2)">
						    <div id="glass2" class="thumbnail">
						      <img src="/images/clothing5.jpg" alt="...">
						      <div  class="caption" align="center">
						        <p><a href="/man" class="btn btn-primary" role="button">Man</a> </p>
						      </div>
						    </div>
						  </div>


						  <div class="col-sm-6 col-md-3" ng-mouseover="$ctrl.changeImage(3)">
						    <div id="glass3" class="thumbnail">
						      <img src="./images/clothing5.jpg" alt="...">
						      <div class="caption" align="center">
						        <p><a href="/children" class="btn btn-primary" role="button">Children</a></p>
						      </div>
						    </div>
						  </div>


						  <div class="col-sm-6 col-md-3" ng-mouseover="$ctrl.changeImage(4)">
						    <div id="glass4" class="thumbnail">
						      <img src="./images/clothing5.jpg" alt="...">
						      <div class="caption" align="center">

						        <p><a href="/elders" class="btn btn-primary" role="button">Elders</a> </p>
						      </div>
						    </div>
						  </div>
					</div>
				</div>
			</div>


</div>
<div id="accordion2">
		   <p><a id="home_woman" href="#collapseExample2" data-toggle="collapse" data-parent="#accordion2" class="btn btn-link collapsed">woman</a></p>
		   <div class="collapse" id="collapseExample2">
			      <div class="bg-success with-padding">
				        <div >
						<div class="row" >
						  <div  class="col-sm-6 col-md-3"  ng-mouseover="$ctrl.changeImage(1)">
						    <div id="woman_glass1" class="thumbnail">
						      <img src="/images/clothing5.jpg" alt="...">
						      <div class="caption" align="center">
						        <p><a href="/woman"  class="btn btn-primary" role="button">Woman</a></p>
						      </div>
						    </div>
						  </div>


						  <div class="col-sm-6 col-md-3"  ng-mouseover="$ctrl.changeImage(2)">
						    <div id="woman_glass2" class="thumbnail">
						      <img src="/images/clothing5.jpg" alt="...">
						      <div  class="caption" align="center">
						        <p><a href="/man" class="btn btn-primary" role="button">Man</a> </p>
						      </div>
						    </div>
						  </div>


						  <div class="col-sm-6 col-md-3" ng-mouseover="$ctrl.changeImage(3)">
						    <div id="woman_glass3" class="thumbnail">
						      <img src="./images/clothing5.jpg" alt="...">
						      <div class="caption" align="center">
						        <p><a href="/children" class="btn btn-primary" role="button">Children</a></p>
						      </div>
						    </div>
						  </div>


						  <div class="col-sm-6 col-md-3" ng-mouseover="$ctrl.changeImage(4)">
						    <div id="woman_glass4" class="thumbnail">
						      <img src="./images/clothing5.jpg" alt="...">
						      <div class="caption" align="center">

						        <p><a href="/elders" class="btn btn-primary" role="button">Elders</a> </p>
						      </div>
						    </div>
						  </div>
						</div>
						</div>
			 	  </div>
		    </div>


</div>
<div id="accordion3">
		<p>
		<a id="home_old" href="#collapseExample3" data-toggle="collapse" data-parent="#accordion3" class="btn btn-link collapsed">old</a>
		</p>
		<div class="collapse" id="collapseExample3">
		     <div class="bg-danger with-padding">
		      	<div >
					<div class="row" >
		  <div  class="col-sm-6 col-md-3"  ng-mouseover="$ctrl.changeImage(1)">
		    <div id="glass1" class="thumbnail">
		      <img src="/images/clothing5.jpg" alt="...">
		      <div class="caption" align="center">
		        <p><a href="/woman"  class="btn btn-primary" role="button">Woman</a></p>
		      </div>
		    </div>
		  </div>


		  <div class="col-sm-6 col-md-3"  ng-mouseover="$ctrl.changeImage(2)">
		    <div id="glass2" class="thumbnail">
		      <img src="/images/clothing5.jpg" alt="...">
		      <div  class="caption" align="center">
		        <p><a href="/man" class="btn btn-primary" role="button">Man</a> </p>
		      </div>
		    </div>
		  </div>


		  <div class="col-sm-6 col-md-3" ng-mouseover="$ctrl.changeImage(3)">
		    <div id="glass3" class="thumbnail">
		      <img src="./images/clothing5.jpg" alt="...">
		      <div class="caption" align="center">
		        <p><a href="/children" class="btn btn-primary" role="button">Children</a></p>
		      </div>
		    </div>
		  </div>


		  <div class="col-sm-6 col-md-3" ng-mouseover="$ctrl.changeImage(4)">
		    <div id="glass4" class="thumbnail">
		      <img src="./images/clothing5.jpg" alt="...">
		      <div class="caption" align="center">

		        <p><a href="/elders" class="btn btn-primary" role="button">Elders</a> </p>
		      </div>
		    </div>
		  </div>
					</div>
				 </div>

		   	</div>
		</div>
</div>


