<!-- <table style="width=1000px;border:1px black solid" >
<tr  style="text-align:center; width=100%;border:1px black solid" >
    <td  style="text-align:center; width=100%;border:1px black solid" > <h1 style="text-align:center">We Buy the Best!</h1></td>
</tr> -->


	<!--<div  id="first_page">
			<div id="first_div">
				<p>WELCOME</p>
		</div>

	</div>-->
<style>
.contactusdiyou {position: fixed; right: -230px; bottom: 0px; _position: absolute; width: 230px; height: 100%; background: #009aff; z-index: 99999999999;  _margin-bottom:0px; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); transition:all .5s ease; }
.contactusdiyou .hoverbtn{width:30px; height:129px; padding-top:20px; cursor: pointer; position:absolute; top:50%; margin-top:-66px;left:-30px; font-size:14px; color:#fff; background:#009aff; -webkit-border-radius: 3px 0px  0px 3px; -moz-border-radius: 3px 0px  0px 3px; -o-border-radius: 3px 0px  0px 3px;      border-radius: 3px 0px  0px 3px; -moz-box-shadow: -4px 4px 4px -4px #000; -webkit-box-shadow: -4px 4px 4px -4px #000; box-shadow: -4px 4px 4px -4px #000;} .contactusdiyou .hoverbtn span{width:30px; height:19px;line-height: 19px; text-align: center; overflow:hidden; float:left;}
.contactusdiyou .hoverbtn .hoverimg{width:13px; height:9px; margin:10px 0px 0px 10px; float:left; display:inline;background-repeat: no-repeat;}
.hoverimg2{background:url(../images/hoverbtnbg1.png) no-repeat; } 
.contactusdiyou .conter{width:186px; height:560px; margin-left:22px;   position:absolute; top:55%;*margin-top:-140px;margin-top:-280px;}
.contactusdiyou .conter .con1{ border-bottom:1px solid #6a6a6a; padding-bottom:22px;}
.contactusdiyou .conter .con1 dl dt{width:31px; height:31px; float:left;    position: relative;
    top: 32px;}
.contactusdiyou  dl .f1{width:142px; height:36px;line-height: 36px; float:right; font-size:12px;_font-size: 14px;*font-size: 15px; color:#fff;vertical-align: top; font-weight: bold;}
.contactusdiyou  dl .f2{ width:142px; float:right; font-size:12px; color:#fff; height:30px;line-height: 30px; float:right;}
.kefuQQ a{ background:url(../images/button-custom-qq.gif)  no-repeat; width:70px; height:20px; display:inline-block; vertical-align:middle;}
.kefuQQ a:hover{ background:url(../images/button-custom-qq-h.gif)  no-repeat;}
.contactusdiyou .conter .con1 dl dd .ph_num{ font:18px 'Microsoft yahei';*font-size: 16px;_font-size: 16px; color:#fff; height:25px;}

.contactusdiyou .qqcall{padding:22px 0px;border-bottom:1px solid #6a6a6a;}
.contactusdiyou .qqcall dl dt{width:31px; height:31px; float:left; position: relative;
    top: 32px;}

.contactusdiyou .weixincall{float:right;padding:22px 0; border-bottom:1px solid #6a6a6a;}
.contactusdiyou .weixincall dl dt{width:31px; height:31px; float:left; position: relative;
    top: 32px;}


.contactusdiyou .weixincall .f3{float: right;width:73px; height:auto; margin-right:69px; display:inline;}
.contactusdiyou .weixincall .f3 img{width: 73px;height: auto;}
.contactusdiyou .dytimer{    float: right; width: 160px; height: 40px; padding: 16px 0px 15px 0px; /* background: #007b77; */ margin: 20px 0px 0px 0px;} .contactusdiyou .dytimer span{display:block; height:20px; line-height:20px; font-size:14px; color:#fff;} .diyou{_position: absolute; _bottom: auto;_margin-bottom:0px; z-index:99999999999; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));} .diyoumask { position:fixed; left: 0; top: 0; z-index: 100000; width:100%; height:100%; opacity:0.3;filter:alpha(Opacity=30); background:#000; display:none;} .fn_cle:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } /***联系我们***/




#main{ 
	position: fixed;
	z-index: 1000;
	top: 0px;
	width: 100%;
}
.blank{
	clear: both;
	overflow: hidden;
	display: block;
	overflow: hidden;
	padding-top: 30px;
}







/*
#id{
	position: relative;
	top: 0px;
}*/

</style>
<div >

	<nav  class="navbar navbar-default" id="main" >
	  <div class="container-fluid" >
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand">fingerPrint</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      	      <!--<ul class="nav navbar-nav">
					      	        <li><a href="/productCatalogue">Home</a></li>
					      	   </ul>-->
				      	      <form class="navbar-form navbar-left">
				      	        <div class="form-group">



<input type="text" id="searchvalue" ng-model="$ctrl.searchtext" class="form-control" placeholder="Search" >



				      	        </div>
				  <button ng-click="$ctrl.searchfor()" type="submit" class="btn btn-default">Submit
				      	        </button>



				      	      </form>
					      <ul class="nav navbar-nav navbar-right">
					      	 <!--<li><a href="/designer">Be a Designer</a></li>
						       <li><a href="/shoppingCart">Shopping Cart</a></li>
						       <li><a href="/myOrders">My Orders</a></li>-->
						       <li><a href="/login">Login</a></li>
					      </ul>
			    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<span class="blank" style="height:20px;"></span>
<!--<br><br>
<br><br><br><br><br><br>	
<p ng-show="$ctrl.abcd" style="position:absolute;top:52px;" ></p>
<table>
<tr ng-repeat="item in $ctrl.showthetext">
						<td><img src="./images/{{item.skuCode}}_1.jpg" /><br/>{{item.skuCode}}</td>
						<td>{{item.brand}}</td>
						<td>{{item.unitPrice | currency}}</td>
						<td>{{item.subTotal | currency}}</td>
					</tr>
</table>
</div><!--<table id="table"  border="1" width="100%" class="TM" >
		<tr>
			<td width="20%"style="font-size=40px">We Buy<h style="font-size=20px">.com</h></td>
			<td width="30%" align="right" ><img src="./images/"><a href="../login/login.html">Store Location </a></td>
			<td width="20%" align="center" ><button ng-click="$ctrl.trans()">Login/Register</button></td>
			<td width="20%" align="left" ><img style="height=20px; width=20px;" src="/images/shoppingcart.png"><p1> Shopping Cart |</p1></td>
			<td width="10%" align="left" ><img style="height=20px; width=20px;" src="/images/search.png"><p1>Search</p1></td>
		</tr>
</table>
 .TM{background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0!important
	filter:Alpha(opacity=80); background:#fff;} -->

<!-- <table border="0" width="100%">
	<tr>
		<td align="center"><h3>We Buy the Best</h3></td>
	</tr>
</table> 

<table border="1" width="100%">
	<tr>
		<td align="center"><p2>Choose your style today or <button type="button" >b</button></p2></td>
	</tr>
</table>-->

<!--<table border="1"  align="center" width="100%">
	<tr>
		<td >
			<img id="first_picture" src="/images/clothing5.jpg">
			<p1>Woman</p1>
		</td>
		<td >
			<img id="second_picture" src="/images/clothing5.jpg">
			<p1>Man</p1>
	    </td>
	</tr>
	<tr>
		<td>
			<img id="third_picture" src="/images/clothing5.jpg">
			<p1>Children</p1>
		</td>
		<td><img id="forth_picture" src="/images/clothing5.jpg">
			<p1>Elders</p1>
	    </td>
	</tr>
</table>-->


<!--<table border="1" width="100%" >
<tr>
    <td align="center">
    	<a href="/Home">
       	   <p ng-mouseover="$ctrl.changeImage(1)" >Clothing</p>
       	</a>
    </td>

    <td>
    	    	<a href="/ShoppingsCart">
           <p ng-mouseover="$ctrl.changeImage(2)">Electronics</p>
       </a>
	</td>

	<td>
           <p ng-click="$ctrl.changeImage(3)">Food</p>
           <p ng-click="$ctrl.changeImage(4)">Food<br/>Elder People Version</p>
	</td>
     
</tr>
</table>-->


<!--
<div style="right:-230px;" class="contactusdiyou">
	<div class="hoverbtn">
			<span>H</span><span>E</span><span>L</span><span>P</span>
		<img class="hoverimg" src="images/hoverbtnbg.gif" height="9" width="13">
	</div>
	<div class="conter">
		<div class="con1"> 
			<dl class="fn_cle">
				<dt><img src="images/tel.png" height="31" width="31"></dt>
				<dd class="f1">Contact the stuff：</dd>
				<dd class="f2"><input type="button" value="Call Me"  style="width:100px;height:50px; color:black;"></dd>
			</dl>
		</div> 
		<div class="blank0"></div>
		<div class="qqcall"> 
			<dl class="fn_cle">
				<dt><img src="images/zxkfqq.png" height="31" width="31"></dt>
				<dd class="f1 f_s14">QQ online service：</dd>
				<dd class="f2 kefuQQ">
					<span>stuff 1</span>
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1111111111&amp;site=qq&amp;menu=yes"></a><br>
					<span>stuff 2</span>
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2222222222&amp;site=qq&amp;menu=yes"></a>
				</dd>
			</dl>
			<div class="blank0"></div>           
		</div> 
		<div class="blank0"></div>
		<div class="weixincall"> 
			<dl class="fn_cle">
				<dt><img src="images/wenhao.png" height="31" width="31"></dt>
				<dd class="f1">Regular Question：</dd>
				<dd class="f3"><input type="button" value="Click to see" onclick="location.href='regular.html'" style="width:100px;height:50px;"></dd>
			</dl>
		</div> 
	
	</div>
</div>

<div class="diyoumask" ></div>
<!--
<script type="text/javascript">
$(function() {
	$(".contactusdiyou").hover(function() {
		$(".hoverimg").attr("src","images/hoverbtnbg1.gif");
		$('.diyoumask').fadeIn();
		$('.contactusdiyou').animate({right:'0'},300); 
	}, function() {
		$(".hoverimg").attr("src","images/hoverbtnbg.gif");
		$('.contactusdiyou').animate({right:'-230px'},300,function(){});
		$('.diyoumask').fadeOut();
	});
});
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>-->
