<style type="text/css">








.h2{
	font-size: 50px;
	color: black;
}
#left_div{
	float: left;
	width: 60%;
	height: 500px;
}
#right_div{
	position: relative;
	left: 10px;
	float: right;
	border: 1px black solid;
	width: 30%;
	height: 500px;
}
#hole_div{
	position: relative;
	left: 4%;
}
.car{
	background-color: white;
}
</style>
<div id="hole_div">
		<div id="left_div">
			<h1 text-align="center">Shopping Cart</h1>	
			<br><br>
				<p>
				<table  class="table table-hover" border="1" width="100%" >
					<tr class="car">
						<th>Item</th>
						<th>Quantity</th>
						<th>Unit Price</th>
						<th>Sub-Total</th>
						<th>Remove</th>
					</tr>
				<!-- 	<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Unit Price</th>
						<th>Sub-Total</th>
						<th>Remove</th>
					</tr>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Unit Price</th>
						<th>Sub-Total</th>
						<th>Remove</th>
					</tr> -->
					<tr ng-repeat="item in $ctrl.shoppingCart">
						<td><img src="./images/{{item.skuCode}}_1.jpg" /><br/>{{item.skuCode}}</td>
						<td class="car">{{item.qty}}</td>
						<td class="car">{{item.unitPrice | currency}}</td>
						<td class="car">{{item.subTotal | currency}}</td>
						<td class="car"><button ng-click="$ctrl.removeFromCart(item.skuCode)">Remove</button></td>
					</tr>
				</table>
				<button style="float:right" ng-click="$ctrl.checkout()">Checkout</button>
			</p>
		</div>
</div>












