<style type="text/css">
	#filterby__{
		border: 0px;
		font-size: 20px;
		background-color: rgba(0,0,0,0);
	}
	#one_one__{
		border: 0px;
		background-color: rgba(0,0,0,0);
	}
	#one_two__{
		border: 0px;
		background-color: rgba(0,0,0,0);
	}
	.main_div{
		position: absolute;
		top: 50px;
	}
	.card{
		width: 300px;
		float:center;
	}
</style>

<div class="main_div">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  	<div class="btn-group" id="one_one__" role="group">
			 <div id="one_two__" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			 	<p id="filterby__">FILTER BY:</p>
			 </div>
    </div>
  	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    CATALOGUE<span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Catalogue</a></li>
				   <li><a href="#">Color</a></li>
				   <li><a href="#">Size</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
  	</div>
    	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    COLOR <span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Action</a></li>
				   <li><a href="#">Another action</a></li>
				   <li><a href="#">Something else here</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
        </div>
    	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SIZE <span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Action</a></li>
				   <li><a href="#">Another action</a></li>
				   <li><a href="#">Something else here</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
  		</div>
    	<div class="btn-group" role="group">
			 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    SPECIAL <span class="caret"></span>
			 </button>

			 <ul class="dropdown-menu">
				   <li><a href="#">Action</a></li>
				   <li><a href="#">Another action</a></li>
				   <li><a href="#">Something else here</a></li>
				   <li role="separator" class="divider"></li>
			    <li><a href="#">Separated link</a></li>
			 </ul>
  </div>

</div>

<div class="cards cards-condensed"> 
		  <div class="col-md-4 col-sm-6 col-lg-6">
		    <a class="card" href="/productDetails">
		      <img class="card" src="/images/elder1.jpg" alt="">
		      <div class="caption">more details</div>
		      <div class="card-heading"><strong> </strong></div>
		      <div class="card-content text-muted"></div>
		       <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 230's people like</div>
		    </a>
		  </div>
		<div class="col-md-4 col-sm-6 col-lg-6">
		  <a class="card" href="/productDetails">
		    <img class="card" src="/images/elder2.jpg" alt="">
		    <div class="caption">more details</div>
		    <div class="card-heading"><strong></strong> </div>
		    <div class="card-content text-muted"></div>
		     <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 520's people like</div>
		  </a>
		</div>
</div>

<div>
		<div class="col-md-4 col-sm-6 col-lg-6">
			    <a class="card" href="/productDetails">
			      <img src="/images/elder3.jpg" alt="">
			      <div class="caption">more details</div>
			      <div class="card-heading"><strong>  </strong></div>
			      <div class="card-content text-muted">   </div>
			       <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 130's people like</div>
			    </a>
			  </div>
			<div class="col-md-4 col-sm-6 col-lg-6">
			  <a class="card" href="/productDetails">
			    <img src="/images/elder4.jpg" alt="">
			    <div class="caption">more details</div>
			    <div class="card-heading"><strong> </strong></div>
			    <div class="card-content text-muted">  </div>
			     <div class="pull-right text-danger"><i class="icon-heart-empty"></i> 204's people like</div>
			  </a>
			</div>
</div>
</div>