<div>
	<h2>Checkout</h2>
	<p>
		<table border="1" width="100%">
			<tr>
				<th>Item</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Sub-Total</th>
			</tr>
			<tr ng-repeat="item in $ctrl.shoppingCart">
				<td><img src="./images/{{item.skuCode}}_1.jpg" /><br/>{{item.skuCode}}</td>
				<td>{{item.qty}}</td>
				<td>{{item.unitPrice | currency}}</td>
				<td>{{item.subTotal | currency}}</td>
			</tr>
			<tr>
				<td colspan="3" style="font-weight: bold;">Total:</td>
				<td>{{$ctrl.totalAmount | currency}}</td>
			</tr>
			<tr>
				<td colspan="3" style="font-weight: bold;">Payment Mode:</td>
				<td>
					<select ng-model="$ctrl.paymentMode">
						<option value="creditCard">Credit Card</option>
						<option value="unionPay">Union Pay</option>
						<option value="cash">Cash</option>
					</select>
				</td>
			</tr>
		</table>
		<button ng-click="$ctrl.checkout()">Checkout</button>
	</p>
</div>