<!--
<div>
	<h2>Product Details</h2>
	<p>
		<h3>{{$ctrl.currentViewMP3Player.brand + " " + $ctrl.currentViewMP3Player.model}}</h3>
		<table border="1" width="100%">
			<tr>
				<td colspan="2"><img src="./images/{{$ctrl.currentViewMP3Player.skuCode}}_1.jpg" /> <img src="./images/{{$ctrl.currentViewMP3Player.skuCode}}_2.jpg" /> <img src="./images/{{$ctrl.currentViewMP3Player.skuCode}}_3.jpg" /></td>
			</tr>
			<tr>
				<th>Buy this Item Now!</th>
				<td>
					<input ng-model="$ctrl.shoppingCartQty" type="number" min="1" max="10" value="{{$ctrl.shoppingCartQty}}" /> 
					<button ng-click="$ctrl.addToCart()">Add to Cart</button>
				</td>
			</tr>
			<tr>
				<th>Sku Code</th>
				<td>{{$ctrl.currentViewMP3Player.skuCode}}</td>
			</tr>
			<tr>
				<th>Brand</th>
				<td>{{$ctrl.currentViewMP3Player.brand}}</td>
			</tr>
			<tr>
				<th>Model</th>
				<td>{{$ctrl.currentViewMP3Player.model}}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{$ctrl.currentViewMP3Player.description}}</td>
			</tr>
			<tr>
				<th>Unit Price</th>
				<td>{{$ctrl.currentViewMP3Player.unitPrice | currency}}</td>
			</tr>
		</table>
	</p>
</div>
-->
<div style="background-image:url('images/completed.jpg'); height:800px;background-repeat: no-repeat;background-size: 100%;text-align:center;line-height:600px">	
	<h1 style="text-align: center;"><big><big>To be completed...</big></big></h1>
</div>